

html, body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    scrollbar-width: none;
    margin: 0px;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}


#character {
    z-index: 5;
    height:40px;
    width: 40px;
    left: 50%;
    bottom: 98%;
    position: absolute;
    background-image: url('images/character.png');
    background-size: cover;
}

#welcome-header {
    max-width: 60%;
    margin: 0 20%;
    right: 0px;
    left:0px;
}

#tutorial {
    text-align: center;
    position: relative;
    width:50%; 
    margin: auto;
    top: 65%;
}

#mobile-controls {
    z-index: 10;
    text-align: center;
    font-size: 30px;
    bottom: 1%;
    position: fixed;
    left:0;
    right: 0;
    margin: 0 auto;
}

#mobile-jump-button {
    width: 30%;
    height: 50px;
    background-color: lightslategrey;
    border: solid 3px black;
}

#mobile-left-button {
    width: 30%;
    height: 50px;
    background-color: lightslategrey;
    border: solid 3px black;
}

#mobile-right-button {
    width: 30%;
    height: 50px;
    background-color: lightslategrey;
    border: solid 3px black;
}

#welcome {
    background-color: whitesmoke;
}

#values {
    background-color: salmon;
}

#dos  {
    background-color: darkolivegreen;
} 

#academics  {
    background-color:darkred;
} 

#interests  {
 background-color: honeydew;
}

#favorites {
    background-color: indianred;
} 

#explorations  {
    background-color: lavender;
}

#contact  {
    background-color:olivedrab;
}

.left {
    left: 8%;
    text-align: left;
}

.right {
    right: 8%;
    text-align: right;
}

.exploration-link {
    text-decoration: underline;
}
.exploration-link:hover {
    color: blue;
}

.tab {
    display: block;
    position: relative;
    height: 800px;
}

.content {
    position: absolute;
    top: 20%;
    width: 55%;
}

.platform {
    position: absolute;
    text-align: center;
    font-size: 40px;
    bottom: 40%;
    max-width: 40%;
    overflow-wrap: break-word;
}

@media screen and (min-width:0px) and (max-width: 568px) {
    #tutorial {
        text-align: center;
        position: relative;
        width:50%; 
        margin: auto;
        top: 50%;
    }

    .content {
        position: absolute;
        top: auto;
        bottom: 20%;
        width: 90%;
    }

    .platform {
        position: absolute;
        text-align: center;
        font-size: 36px;
        bottom: 10%;
        max-width: 60%;
        overflow-wrap: break-word;
    }
}


